---
layout: base.njk
---

section.one-info
  h2.section-header Floors
  .donut-container
    .left-donuts
      a(href="#bonfire" style="z-index: 4;")
        img.donut(src="/images/bonfire.svg")
      a(href="#clam" style="z-index: 2;")
        img.donut(src="/images/clam.svg")
      a(href="#loop" style="z-index: 1;")
        img.donut(src="/images/loop.svg")
      a(href="#destiny" style="z-index: 0;")
        img.donut(src="/images/destiny.svg")
    .right-donuts
      a(href="#pecker" style="z-index: 3;")
        img.donut(src="/images/pecker.svg")
      a(href="#bmf" style="z-index: 2;")
        img.donut(src="/images/bmf.svg")
      a(href="#black_hole" style="z-index: 1;")
        img.donut(src="/images/black_hole.svg")
      a(href="#foo" style="z-index: 0;")
        img.donut(src="/images/foo.svg")
section#bonfire.one-info
  h2.section-header Bonfire
  p too much dnd
section#pecker.one-info
  h2.section-header Pecker
  p previously nerds, now gay nerds who bake a lot
section#clam.one-info
  h2.section-header Clam
  p The Gaymer floor of Random. It's home for a large collection of consoles, video games, and board games. Our floor is proudly loud and never sleeps. We feast on McDonald's and homemade pasta. Our communal fridge and cupboard is filled with ingredients and is only getting bigger! We love plushies and our lounge is filled with them. We are home to the best bathroom in Random that has been recently renovated and both of our bathrooms are equipped with bidets. You will often find us planning the next revolution against the filthy Random Hall government. We only house fourteen soldiers but the clam lives within many others around the dorm and the MIT campus!
section#bmf.one-info
  h2.section-header BMF
  p their mom has been done
section#loop.one-info
  h2.section-header Loop
  p cats and non-men
section.one-info(id="black_hole")
  h2.section-header Black Hole
  p purple hole
section#destiny.one-info
  h2.section-header Destiny
  p swingy swingy swingy swing
section#foo.one-info
  h2.section-header Foo
  p 
  | Foo:
  p 
  | The text you provided is a mix of various statements and sentences containing the word "Foo" used in different contexts. Here's a summarized interpretation of the text:
  |
  | In this text, "Foo" appears in several contexts:
  ol
    li Foo is described as a great song that allows people to express themselves positively. The author expresses love for Foo's videos and channel and thanks them for their support.
    li Foo is mentioned as a favorite rapper who has transitioned into a better singer. The author is proud and grateful for Foo's achievements.
    li There is mention of an upcoming exam and excitement about reuniting with someone's mother.
    li Foo is considered a good player for a squad and a great fit for the team due to their experience.
    li The text also mentions going back to classes and unpacking items.
    li Fooisaclose-knitcommunitythatdoesn'tneedspaceand,forthatreason,onlyhasthreeresidents(lol).
  | In summary, the text is a mix of positive sentiments and personal reflections related to someone or something named "Foo." It includes admiration for their music, achievements, and personal connections.

