---
layout: base.pug
---
section.one-info
  h2.section-header Floors
  .donut-container
    .left-donuts
      a(href="#bonfire" style="z-index: 4;")
        img.donut(src="/images/bonfire.svg")
      a(href="#clam" style="z-index: 2;")
        img.donut(src="/images/clam.svg")
      a(href="#loop" style="z-index: 1;")
        img.donut(src="/images/loop.svg")
      a(href="#destiny" style="z-index: 0;")
        img.donut(src="/images/destiny.svg")
    .right-donuts
      a(href="#pecker" style="z-index: 3;")
        img.donut(src="/images/pecker.svg")
      a(href="#bmf" style="z-index: 2;")
        img.donut(src="/images/bmf.svg")
      a(href="#black_hole" style="z-index: 1;")
        img.donut(src="/images/black_hole.svg")
      a(href="#foo" style="z-index: 0;")
        img.donut(src="/images/foo.svg")
section#bonfire.one-info
  h2.section-header Bonfire

  p Come home, fair traveler, rest your feet. You must be tired from your journey (up four [ok, it's really three] flights of stairs). Have a rest whispering answers to the NYT crossword and spelling bee, pondering nonsensical philosophical questions, pondering sensical pragmatic questions, or listening to steampunk weirdcore complex vampire tunes on our beloved sound system. Enjoy the cadence and cuisine of over 9.81 languages and cultures, and contribute your own!

  p We like to party in many ways. If you're feeling like venturing out into the world of ocean voyages, fairy carnivals, and reckless bears, participate in one of our several ongoing D&D or other TTRPG campaigns. If, instead, you wish to strut your stuff at a late-night gathering filled with late 2010's music, perhaps in costume on Halloween or not in costume on not Halloween, you will find a place here. We contain multitudes.

  p Come, friend, and flourish. For it's always morning on bonfire.

  p
    November 2025 Update!
    i Bonfire is challenging Pecker's title as Random Hall Bakery. If you are a baker, they are seeking reinforcements. Help them out!

section#pecker.one-info
  h2.section-header Pecker

  p Random Hall Bakery; as a side effect it houses twelve residents and the GRA of Pecker, Bonfire, and Clam.

  p Recipe for Pecker, aka Random Hall Bakery:

  p Ingredients:
  ul
    li 50 lbs of rice
    li 50 lbs of flour
    li 50 lbs of sugar
    li 6 dozen eggs
    li 57 Christmas Island crabs
    li 42 board games
    li 4 slay the spire characters
    li 7 crosswords (per week)
    li 17 fans
    li 0.5 IPA chart
    li 1 top (optional)
    li 1 tbsp of communism
    li a dash of spite

  p Instructions:
  ol
    li preheat the oven to 350F.
    li pet the cats.
    li mix all ingredients together.
    li chat with the GRA of Pecker, Clam, and Bonfire (PCB).
    li pour into a baking dish
    li bake for 47 minutes!

section#clam.one-info
  h2.section-header Clam

  p The Gaymer floor of Random. It's home for a large collection of consoles, video games, and board games. Our floor is proudly loud and never sleeps. We feast on McDonald's and we still have an enormous stash of pasta to get through. Our communal fridge and cupboard is filled with ingredients and is only getting bigger! We love plushies and our lounge is filled with them. We are home to the best bathroom, with the biggest, cleanest, shinest shower. You will often find us planning the next revolution against the filthy Random Hall government. We only house fourteen soldiers but the clam lives within many others around the dorm and the MIT campus!

section#bmf.one-info
  h2.section-header BMF

  p Movie nights until it's not night anymore. It houses fourteen residents.

section#loop.one-info
  h2.section-header Loop

  p ...hey, has this happened before? Do you feel like time is repeating itself? As if you've had this same day before, and you will again, over and over and over.... 

  p Well, there's no better place to contemplate impossible spacetime geometries than Loop! We're friendly, quiet, and warm, and our kitchen is always full of camaraderie and the smells of baked goods. We're a non-male floor with a propensity for lesbianism, a fondness for physics, and a susceptibility to the siren call of the bookshelf. Come rest from the endless march of time in our kitchen and pet a cat, write a poem, and let the impossible beauty of the universe unfold around you. Why not enjoy the moment? You only get it once, after all... or do you?

  p ...hey, has this happened before?

section.one-info(id="black_hole")
  h2.section-header Black Hole

  p welcome to black hole, the second floor of random hall on the 290 side! along with the largest number of [scream] per capita at MIT, we’re home to four mannequins, two cats, and some quantity of people.

  p bh was named for its ability to mysteriously suck anyone who walks by into whatever exciting happenings is going on on the floor, never to be seen again.

  p we’re best described as “wholesome sketchy.” with at least one bh resident awake at every hour of the day, you can generally find someone in bhitchen (black hole kitchen). they might be cooking, building, climbing, scheming, planning out an elaborate floor event, or even doing *gasp* math! maybe they’ll ask if you want to go climbing or practice spinning arts on the roofdeck.

  div
    img.resized-image(src='/images/cats.jpg' alt='cats')
section#destiny.one-info
  h2.section-header Destiny

  p Enjoyers of clean kitchens, animals, and NO QUIET HOURS! We NEVER play league of legends EVER! (editor here, they're apparently using an advanced technique called "lying" about how little they play league) We are the smallest non-small floor at 10 residents.

section#foo.one-info
  h2.section-header Foo
  p 
  | Foo:

  p 
  | The text you provided is a mix of various statements and sentences containing the word "Foo" used in different contexts. Here's a summarized interpretation of the text:
  |
  | In this text, "Foo" appears in several contexts:

  ol
    li Foo is described as a great song that allows people to express themselves positively. The author expresses love for Foo's videos and channel and thanks them for their support.
    li Foo is mentioned as a favorite rapper who has transitioned into a better singer. The author is proud and grateful for Foo's achievements.
    li There is mention of an upcoming exam and excitement about reuniting with someone's mother.
    li Foo is considered a good player for a squad and a great fit for the team due to their experience.
    li The text also mentions going back to classes and unpacking items.
    li Foo is a close-knit community that doesn't need space and, for that reason, only has three residents (and the GRA for Foo, Destiny, and Black Hole).

  | In summary, the text is a mix of positive sentiments and personal reflections related to someone or something named "Foo." It includes admiration for their music, achievements, and personal connections.

section.one-info
  h2 Quick info

  table
    tbody 
      tr
        th Floor
        th Residents
        th Cats
      tr
        td Foo
        td 3
        td
      tr
        td Destiny
        td 10
        td
      tr
        td Black Hole
        td 14
        td Yes
      tr
        td Loop
        td 12
        td Yes
      tr
        td BMF
        td 14
        td
      tr
        td Clam
        td 14
        td 
      tr
        td Pecker
        td 12
        td Yes
      tr
        td Bonfire
        td 14
        td
