---
layout: base.pug
---

section.one-info
  h2.section-header Government Documents
  ul
    li
      | Random Hall's 
      a(href="/constitution") Constitution
    li
      | Random Hall's 
      a(href="/bylaws") Bylaws
section.one-info
  h2.section-header Executive Committee
  p Random is ruled by the Executive Committee, lovingly known as ExecComm. (Most of Random's governing structures have 'Comm' in their names because none of us can spell comiteee.)
  p Our government is far from oppressive and is very open to input from everyone. Many freshmen are elected to positions in their first term.
  p The President, Vice President, and Secretary are elected in December. Members at Large are elected in February.
  ul
    li President (El Presidente): Bianca Santi '25 &amp; Lauren Shrack '25
    li Vice-President (Chancellor of the Exchequer): Isabel McGuigan '25
    li Secretary (Aerie of Secrets): Ryan Trujillo '27
    li ExecComm Members at Large (War, Famine, Death, Pestilence):
      ol 
        li Ari '25, Ella '27, Henry '26, Nikhita '26
section.one-info
  h2.section-header Judicial Committee
  p JudComm is the judiciary branch of our dorm government. Its members provide arbitration in disputes and enforce dorm rules (of which there are very few). Most dorm problems can be handled internally, generally without even involving JudComm.
  p JudComm members are elected in September.
  ul
    li
      b Chair: Maize '26 
    li Alyssa '24 
    li Eva '24 
    li Kiran '24 
    li Skip '26
section.one-info
  h2.section-header Other Offices
  p All of these positions, with the following exceptions, are elected or appointed at ExecComm's discretion in February. Desk Captain is chosen once the previous desk captain graduates. The i3 Pointman and UA Representative are elected in September.
  ul
    li Athletics Chair (Sports Commissioner): Andrea '25
    li Blood Committee: Nikhita '26
    li Computer Chair (Ben Bitdiddle): Kiera '27
    li Craft (Trunk) Room Chair: Liva '25, Nikhita '26
    li Desk Captain (The Gatekeeper) : Sara '24
    li Earth/Wind/Fire God: Maize '26
    li EE Lab Stool: Kiera '27
    li Games Chair: Nikhita '26 
    li Hair Dye Chair: Roxxie '27
    li History Chair: Holden '25, Roxxie '27
    li i3 Pointmen:
      ol 
        li  Izzie '27, Kevin '27, Pablo '27, Ryan '27
    li Laundry Chair: Liva '25 (Senior), Quinn '26 (Junior)
    li Pet Chair: Maize '26
    li Music Chair (Angel of Music): June '26, Terrin '27, Zimi '25
    li Projector Chair: Wells '25
    li Quiche Cabal Chair: Howard '25, June '26
    li Room Assignment Chair (Slumlord): Quinn '26 (Senior), Kiera '27 (Junior)
    li Roofdeck Chair: June '26
    li Rush Chairs:
      ol 
        li  June '26, Nikhita '26 (Senior); Niko '27, Norma '27 (Junior)
    li Sewing Chair (Mistress of the Cloth): Isabel '25, Kat '25
    li Shop Bunnies: Kiera '27, Pablo '27
    li Shop Rats: Nikhita '26, Reyna '25
    li Social Chairs (Disco Queens): 
      ol 
        li Howard '25 , Madison '25, Maize '26, Reyna '25, Roxxie '27,	Terrin '27
    li Soda Chairs (Minister of Beverage Procurement):
      ol 
        li  Howard '25 (Head), Kevin '27, Madison '25, Pablo '27
    li Starving Artist: Andrea '25, Zimi '25
    li Sustainability Committee: Lauren '25, Reyna '25
    li Video Chair: Roxxie '27 
    li Webmaster: Holden '25, Kiera '27
    li Weight Room Chair (He-Man, Master of the Universe): Alex '27, Howard '25
