---
layout: base.pug
---

section.one-info
  h2.section-header Links
  p Helpful hints for the clueless or curious:
  ul
    li
      a(href="/cookbook.pdf") J. Arthur's Cookbook.
      |  This is a helpful guide to living at MIT and specifically at Random Hall, given to freshmen at the beginning of the year.
    li
      a(href="https://laundry.mit.edu/") Laundry Server.
      |  The center for all your laundry needs. It spins! It dries! It tells you the status of the laundry! The time savings are mind-boggling.
    li
      a(href='https://random-hall.scripts.mit.edu/wiki/index.php?title=Main_Page') Wiki.
      |  A repository with a wealth of Random Hall information, including our governing documents, various historical artifacts, and more.
    li
      a(href='/dirge/') Dirge!
      |  Our very, very normal birthday tradition.
    li
      a(href='/rush/') Rush Archive.
      |  Behold: i3 videos of yore!
