---
layout: base.pug
---

section.one-info
  h2.section-header Random Hall REX!
  p Have you ever wanted to have smoothies, watch queer cartoons, and go in a giant pile of plushies (perhaps all at once)? Paint all over the walls? Learn to tie pretty knots on pretty people? Well, you can do all that and more at Random Hall this REX! Come to our events, or just come hang out—we're always happy to yap!
  p Random is just a short walk up Massachusetts Avenue from Lobby 7—you can see its location 
    a(href="https://whereis.mit.edu/?go=NW61") right here
    | ! There are 
    a(href="/floors") eight floors
    |  in Random, which can be a little tricky to navigate, but you can always ask about for directions (or have a fun time wandering through our somewhat maze-like, twisty hallways).
  p Jump to:&nbsp;
    a(href="#saturday") Saturday
    | &nbsp;&bull;&nbsp;
    a(href="#sunday") Sunday
    | &nbsp;&bull;&nbsp;
    a(href="#monday") Monday
    | &nbsp;&bull;&nbsp;
    a(href="#tuesday") Tuesday
    | &nbsp;&bull;&nbsp;
    a(href="#wednesday") Wednesday
    | &nbsp;&bull;&nbsp;
    a(href="#thursday") Thursday
    
section.one-info#saturday
  h2.section-header Saturday, August 23


  div.event-box
    h3.event-header Shabbes Lunch with MIT JCL! &bull; 12:17-14:17 &bull; Random basement craft room
    p Join MIT JCL for a vegetarian-friendly meal to learn about the group, its members, and its activities! All are welcome!


  div.event-box
    h3.event-header Woodpecker Bakery &bull; 12:17-18:17 &bull; Pecker Kitchen
    p come to Pecker Kitchen every hour at X:17 for free baked goods and tea while this event runs! baked goods may include but are not limited to: lemon bars, crepes, brownies, chocolate chip cookies, strawberry cake, and pumpkin muffins


  div.event-box
    h3.event-header python bee &bull; 15:17-17:47 &bull; aiw
    p the python bee is like a spelling bee, but instead of spelling a word you’re spelling a python program. the winner will get a bee of their very own. 🐝


  div.event-box
    h3.event-header Quilting 101 &bull; 15:47-17:47 &bull; Craft Room
    p Learn the basics of quilting!


  div.event-box
    h3.event-header oodles of noodles &bull; 18:47-20:17 &bull; Clitchen
    p eat various noodles! mostly spaghetti and ramen. veggies and meat included


  div.event-box
    h3.event-header Words and Waffles &bull; 19:17-20:47 &bull; Loop kitchen
    p join the loop waffle night tradition, and come play a word game with our poetry magnets! and feel free to bring your favorite non-magnet poem to share :)


  div.event-box
    h3.event-header Board Games! &bull; 19:17-23:17 &bull; Pecker Lounge
    p come play board (or card) games on Pecker! games include but are not limited to: wingspan, catan, codenames, spirit island, root, betrayal at the house on the hill, and ticket to ride. drop in anytime to play a game!


  div.event-box
    h3.event-header bmf karaoke! &bull; 20:17-21:47 &bull; bmf lounge
    p enjoy singing? come karaoke with us on bmf! bonus points if you queue mamma mia songs, but all music tastes are welcome


  div.event-box
    h3.event-header Roofdeck Astronomy &bull; 23:17-01:17 &bull; Roofdeck
    p Come look at the garage lights- I mean the stars from our beloves roofdeck! Featuring hot chocolate, astrophysics major and telescope, weather permitting.

section.one-info#sunday
  h2.section-header Sunday, August 24


  div.event-box
    h3.event-header ghibli brunch &bull; 10:17-12:17 &bull; bmf kitchen
    p always thought that ghibli food looked good? now's your chance to come try it! come to bmf kitchen to experience the world of ghibli with more than just your eyes


  div.event-box
    h3.event-header Hyperbolic Crochet &bull; 12:17-15:17 &bull; pecker lounge
    p come crochet hyperbolic objects!!! no experience required :D and you get a cool object! we will also have Tea and Friends and potentially Differential Geometry of Crochet


  div.event-box
    h3.event-header Asian Beverage Testing! &bull; 12:47-14:17 &bull; Clam
    p Try every weird tea or milk drink you see at the asian supermarket.


  div.event-box
    h3.event-header tinned fish tasting &bull; 17:17-18:47 &bull; Clitchen
    p A variety of tinned fish! Rice, crackers, and some veggies too for a full meal.


  div.event-box
    h3.event-header ozok cookies and ozok milk &bull; 17:47-19:47 &bull; black hole kitchen
    p chill out for the last night of rex, ozok has made snickerdoodles and milk and you decorate them (to look like ozok but also anything really chat I just only have black forsting)


  div.event-box
    h3.event-header Make an ozok with ozok &bull; 17:47-19:47 &bull; Black hole lounge
    p come to black hole lounge and see a full grown home grown pasture fed ozok no msg and we will all make small cute ozok plushies diy chat


  div.event-box
    h3.event-header Only the $64,000 Jeopardy &bull; 18:47-21:47 &bull; pecker (undecided on lounge or kitchen; we'll put up a sign or smth)
    p Like quiz shows? Can't pick a favourite? Easy solution: come play them all at once and prove your quiz show prowess once and for all!


  div.event-box
    h3.event-header Learn to DJ &bull; 20:17-21:47 &bull; Bonfire Lounge
    p Music. Vibes. Snacks. Come learn the basics of mixing music in Bonfire Lounge, best DJ will be henceforth known as the next Skrillex


  div.event-box
    h3.event-header BEFOUL OUR WALLS &bull; 21:47-23:47 &bull; Black hole kitchen
    p Unleash your creative energy and leave your mark on Black Hole! Paint and brushes provided.

section.one-info#monday
  h2.section-header Monday, August 25


  div.event-box
    h3.event-header Random Hall Coffeehouse! &bull; 08:17-11:17 &bull; bmf kitchen
    p Come get a hot/iced beverage and chat with lovely people <3 coffee, matcha, and hot cocoa available!


  div.event-box
    h3.event-header Tako Takoyaki Time &bull; 19:17-20:17 &bull; BMF Kitchen
    p Come eat takoyaki!


  div.event-box
    h3.event-header Nekomimi maid cafe &bull; 19:17-21:17 &bull; Foo
    p Welcome home, Master!  (=˃ᆺ˂=) ♡ Come enjoy omurice and Japanese curry, and make your day extra special with lots of love and smiles~! ✨


  div.event-box
    h3.event-header Are you a Drawer? [Pictionary / Art meetup] &bull; 19:47-20:47 &bull; clounge
    p Are you a drawer? Come to clam and play pictionary, or vibe and draw your own art while guessing what that scribble really is.
    p 
    p [drawing materials provided, fun provided, bring your own creativity]


  div.event-box
    h3.event-header open your eyes! all scifi media is connected!! they've been lying to you!!! &bull; 20:17-21:47 &bull; Loop lounge
    p they've been lying to us!! all scifi media is connected in some vast extended universe!! come with your most harebrained scifi conspiracy theories and put red string all over our walls


  div.event-box
    h3.event-header Find your REAL-LIFE D&D Score &bull; 21:47-23:17 &bull; Bonfire Lounge
    p Have you ever played D&D and wondered what your real-life ability score would be? Maybe you play as a barbarian, but can barely deadlift. Maybe you play as a bard, but are horribly tone-deaf. Come unveil your TRUE D&D class. Expect snacks and good company :)


  div.event-box
    h3.event-header BEFOUL OUR WALLS &bull; 21:47-23:47 &bull; Black hole kitchen
    p Unleash your creative energy and leave your mark on Black Hole! Paint and brushes provided.

section.one-info#tuesday
  h2.section-header Tuesday, August 26


  div.event-box
    h3.event-header real food for breakfast &bull; 08:17-09:47 &bull; AiW
    p Tired of dessert for breakfast? Come for rice, veggies, fish, chicken, and hashbrowns!


  div.event-box
    h3.event-header eat your (chinese) veggies! &bull; 19:17-20:47 &bull; Clitchen
    p they will never serve this at a dining hall. comes with pork bone broth, rice, and snacks


  div.event-box
    h3.event-header Mario Kart Wii &bull; 19:17-21:17 &bull; bmf lounge
    p Eat snacks, play Mario Kart, prove your motion control abilities!


  div.event-box
    h3.event-header Queer Ladies’ Movie Night &bull; 19:17-21:47 &bull; Loop lounge
    p Are you queer? Are you a lady? Are you a movie? Are you a night? Are you none of the above but want to eat cookies, make friends, and watch a sapphic movie? Then come to queer ladies’ movie night!


  div.event-box
    h3.event-header the world is miku's &bull; 19:47-21:17 &bull; destiny lounge
    p and we're just living in it


  div.event-box
    h3.event-header BEFOUL OUR WALLS &bull; 21:47-23:47 &bull; Black hole kitchen
    p Unleash your creative energy and leave your mark on Black Hole! Paint and brushes provided.


  div.event-box
    h3.event-header Applied Knot Theory &bull; 22:17-23:47 &bull; AiW
    p A practical introduction to the art, mathematics, and philosophy of tying pretty people up with pretty knots. WARNING: This event can expose you to adult-themed conversations, which are known to the State of California to cause discomfort in select individuals.

section.one-info#wednesday
  h2.section-header Wednesday, August 27


  div.event-box
    h3.event-header Bagels & Locks &bull; 09:17-10:17 &bull; black hole kitchen
    p Have a bagel while you learn to pick locks. Previous experience with either not required.


  div.event-box
    h3.event-header kazoo-oke &bull; 16:47-18:17 &bull; destiny lounge
    p want a kazoo? come kazoo along any song you want!
    p 
    p kazoos will be provided.


  div.event-box
    h3.event-header Card Games Galore &bull; 17:17-18:47 &bull; Bonfire Lounge
    p Do you wanna learn some card games? Come on up to Bonfire Lounge and we can play together :D There will be snacks and good company! (Also, if you already know how to play Egyptian Rat Screw you WILL be forced to play against me so I can defend my title as the Best Player Ever™)

section.one-info#thursday
  h2.section-header Thursday, August 28


  div.event-box
    h3.event-header You may fascinate a woman with a piece of cheese &bull; 15:17-16:47 &bull; Loop lounge
    p Feeling blue? Move-in stress making you munsterous? Feta-p with boring orientation events? Come indulge your cheesful desires with your favorite loop upperclassmen, as we spill the havar-tea about stem education, women in physics, and life at the 'tute. Brie sure to caerphilly mark your calendars!


  div.event-box
    h3.event-header Um, Actually &bull; 16:47-18:17 &bull; Bonfire Lounge
    p Are you a little pedantic and/or know random factoids? Then come to "Um, Actually"! We will say subtly wrong 'facts' and you must correct us (by saying "Um, Actually...").
