doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&family=Rubik&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/bundle.css')
  script(src='/script.js' defer='')
  title Random Hall

body
  header
    nav.chocolate.sprinkles
      a.title(href='/' data-content='Random Hall') Random Hall
      .nav-container
        a(href='/info/' data-content='Info') Info
        a(href='/floors/' data-content='Floors') Floors
        a(href='/houseteam/' data-content='House Team') House Team
        a(href='/government/' data-content='Government') Government
        a(href='/links/' data-content='Links') Links
main !{content}

footer
  .chocolate.dark
    | Website content is under MIT license and 
    a(href='https://github.com/random-hall/random-hall.github.io') hosted on Github
    | . Contact us at 
    a(href='mailto:ask-jarthur@mit.edu') ask-jarthur@mit.edu
    | . 
    a(href='https://accessibility.mit.edu/') Accessibility
